body {
  margin-left:auto;
  margin-right: auto;
  max-width: 800;
  color: #fbf1c7;
  background-color: #1d2021;
  font-size: 1em;
}

pre {
  font-size: 1.3em;
  color: #d5c4a1;
  background-color: #282828;
  padding: 10px;
}

h1{font-size: 2em; color: #fb4934;}
h2{font-size: 1.5em; color: #fabd2f;}
h3{font-size: 1.25em; color: #8ec07c}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding-left: 10px;
  border: 1px #bdae93 solid;
}

th {
  color: #ebdbb2;
  border: 1px #bdae93 solid;
}

strong {
  color: #fe8019;
}

img {margin-left:auto;margin-right: auto;}